{
  "extends": "@antfu",
  "rules": {
    "n/prefer-global/process": "off",
    "vue/max-attributes-per-line": ["error", {
      "singleline": {
        "max": 1
      },
      "multiline": {
        "max": 1
      }
    }]
  }
}